body {
    background-color: rgb(34, 153, 94);
    background-image: url('/img/boldizsar-bednarik-AwwdfImDUeQ-unsplash.jpg');
    background-repeat: repeat;
    background-size: 50vw auto;
}

h1,
p,
h4,
button {
    color: white;
    font-family: 'Londrina Solid', cursive;
    letter-spacing: 2px;
    font-size: 30px;
}

button {
    color: green;
    font-size: 30px;
    padding: 10px;

}

button:hover {
    background-color: yellow;
}

.title {
    border-bottom: 3px solid white;
    padding: 10px;
}

#resuldId {
    font-size: 5em;
    padding: 0;
    margin: 0 auto 30px auto;
}

.startLayout,
.finishLayout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: auto;
    height: auto;
    background-color: black;
    position: absolute;
    z-index: 999;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: 3px dashed white;
    padding: 0 20px 10px 20px;
}

.finishLayout {
    display: none;
}

.startLayout p {
    margin: 2px;
}

/* DISPLAY CLASSES */
.layout {
    display: none;
}

.flexElements {
    display: none;
    justify-content: space-around;
    height: 70px;
}

@media only screen and (max-width: 600px) {

    .flexElements {
        height: 120px;
    }

    .gamleLayout {
        width: 200px;
        height: 200px;
    }

    .time p,
    .score p {
        margin: 10px;
    }

}

.time,
.score {
    text-align: center;
}

#time-left,
#score {
    font-size: 50px;
}

#stop {
    width: 150px;
    margin: 0 auto;
    position: relative;
    top: 50px;

}

.startLayout button {
    display: flex;
    margin: 2px auto;
    flex-direction: row;
}


.gamleLayout {
    display: grid;
    width: 300px;
    height: 300px;
    /* // border: 1px solid black; */
    margin: 30px auto;
    grid-template-columns: auto auto auto auto;
    border: 5px solid white;
    border-radius: 40px;
}

.gamleLayout {
    transform: rotate(45deg);
}

.grid-item {
    display: grid;
    border: 1px solid white;
    text-align: center;
    border-radius: 50px;
    margin: 5px;
}

.mole {
    background-color: transparent;
}

.moleAlive {

    background-image: url('/img/favpng_pull-up-mole-fat-mole-cartoon-animation.png');
    background-repeat: no-repeat;
    transform: rotate(-45deg);
    background-size: 65px;

}

.moleAlive:active {
    border: 1px dotted yellow;

}

#countDownLayout {
    background-color: black;
    text-align: center;
    border-radius: 50px;
    width: 200px;
    height: auto;
    font-size: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}